.card {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
  color: white;
}

.card:first-child {
  border-radius: 10px 10px 0 0;
}

.card:last-child {
  border-radius: 0 0 10px 10px;
}

.sedans {
  background-color: var(--color-sedans);
}

.suvs {
  background-color: var(--color-suvs);
}

.luxury {
  background-color: var(--color-luxury);
}

.card img {
  align-self: start;
}
