main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 50px 20px;
}

@media only screen and (min-width: 768px) {
  /*for desktop*/
  main {
    height: 100%;
    flex-direction: row;
    width: 100%;
  }
}
